{% extends "./index.html" %}
{% load static %}
{% block main %}
<form method="post">
    {% csrf_token %}

    <h1>CRIAÇÃO DE USUÁRIO</h1>

    {{ form.as_p }}

    <button type="button" id="btnEndereco">
        ➕ Adicionar endereço
    </button>

    <div id="enderecoDiv" style="display:none; margin-top:20px;">
        <h3>Endereço</h3>
        {{ form_endereco.as_p }}
        <input type="hidden" name="criar_endereco" value="1">
    </div>

    <button type="submit">CRIAR</button>
</form>
<script>
    document.getElementById("btnEndereco").addEventListener("click", function () {
        const div = document.getElementById("enderecoDiv");
        div.style.display = div.style.display === "none" ? "block" : "none";
    });
</script>

{% endblock main%}