{% extends "./index.html" %}
{% load static %}
{% block main %}
<form action="." method="post">
    {% csrf_token %}

    <h2>Pedido {{ pedido.numero_pedido }}</h2>

    {{ form.as_p }}

    {{ formset.management_form }}

    <h3>Itens do Pedido</h3>

    {% for f in formset %}
        <div class="item-box">
            {{ f.id }}
            {{ f.perfume }}
            {{ f.quantidade }}
            {{ f.preco_unitario }}
            {{ f.DELETE }} Remover
        </div>
    {% endfor %}

    <button type="submit">Salvar</button>
</form>
{% endblock main%}