{% extends "./index.html" %}
{% load static %}
{% block main %}

    <!-- PEDIDOS -->
    <section class="card">
        <h2>Pedidos</h2>
<link rel="stylesheet" href="{% static 'css/pedidos.css' %}">
<a href="{% url 'criar_pedido' %}" class="btn-novo-pedidos">
    + Adicionar Pedidos
            </a>
        <table>
            <thead>
                <tr>
                    <th>NUMERO</th>
                    <th>Cliente</th>
                    <th>Status</th>
                    <th>Valor</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
                {% for pedido in pedidos %}
                <tr>

                    <td> <a href="{% url 'editar_pedido' pedido.id %}">{{ pedido.numero_pedido }}</a></td>
                    <td>{{ pedido.cliente.nome }}</td>
                    <td>
                        <span class="status {{ pedido.status|lower }}">
                            {{ pedido.get_status_display }}
                        </span>
                    </td>
                    <td>R$ {{ pedido.valor_total }}</td>
                    <td>{{ pedido.data_pedido|date:"d/m/Y" }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">Nenhum pedido encontrado</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock main %}