{% extends './perfil.html' %}

{% block conteudo %}
<h1>Dados Pessoais</h1>

<form class="form-perfil">
    <label>Nome</label>
    <input type="text" value="Nicolas">

    <label>Email</label>
    <input type="email" value="email@email.com">

    <label>CPF</label>
    <input type="text" value="000.000.000-00">

    <label>Gênero</label>
    <select>
        <option>Masculino</option>
        <option>Feminino</option>
        <option>Outro</option>
    </select>

    <label>Data de Nascimento</label>
    <input type="date">

    <button class="btn">Salvar</button>
</form>
{% endblock %}
