{% extends './perfil.html' %}
{% load static %}
{% block conteudo %}
<script src="{% static 'javascript/endereco.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/endereco.css' %}">
<h1>Meus Endereços</h1>
{% for endereco in enderecos %}
<div class="endereco">
    <span>{{endereco}}</span>
    <button onclick="apagarEndereco({{endereco.id}}, this.parentElement)">Apagar</button>
</div>
{% empty %}
<h2 style="padding: 1%;">Não há endereços cadastrados</h2>
{% endfor %}
<button class="btn btn-add" onclick="adicionarDiv()">+ Adicionar novo endereço</button>
<div id="container"></div>
{% endblock %}
