{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/perfil.css' %}">
    <title>Meu Perfil</title>
</head>
<body>

<div class="perfil-container">

    <!-- MENU LATERAL -->
    <aside class="perfil-menu">
        <h2>Minha Conta</h2>
        <ul>
            
            <li><a href="{% url 'pedidos' %}">Pedidos</a></li>
            <li><a href="{% url 'notificacao' %}">Notificações</a></li>
            <li><a href="{% url 'endereco' %}">Endereços</a></li>
            <li><a href="{% url 'dados_pessoais' %}">Dados Pessoais</a></li>
            <li><a href="{% url 'index' %}">Voltar</a></li>
        </ul>
    </aside>

    <!-- CONTEÚDO -->
    <main class="perfil-conteudo">
        {% block conteudo %}
        <h1>OLA {{cliente}}</h1>
        {% endblock %}
    </main>

</div>

</body>
</html>
