{% load  static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/tela_logo.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="formulario_logon">
    <p>Usuario</p>
    <input type="text" placeholder="USUARIO" disabled>

    <p>Senha</p>
    <input type="password" placeholder="SENHA" disabled>

    <a href="{% url 'perfil' %}" class="ENTRAR">ENTRAR</a>

    <a href="{% provider_login_url 'google' %}" class="google">
        <i class="fa-brands fa-google"></i>
        GOOGLE
    </a>
    <p>Não tem um conta? <a href="{% url 'criar_conta' %}">Clique aqui e crie</a></p>
</div>
    
    {% if error %}
      <p style="color: red;">{{ error }}</p>
    {% endif %}

</body>

</html>
