/* custom.css */

#header {
    background-color: #000;
}

.module h2 {
    background-color: #111;
    color: #fff;
}

button, input[type=submit] {
    background-color: #111 !important;
    border-radius: 8px;
}