/* =========================
   RESET E CONFIGURAÇÃO BASE
============================= */
html, body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    color: #C1A675;

    /* Flex para sticky footer */

   
    font-family: sans-serif;
}

body {
    background-color: black;
    background-image: url("../imagens/logo_fundo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-content: center;
    justify-content: center;
}

/* =========================
   HEADER E LOGO
============================= */
.logo {
    object-fit: cover;
    max-width: 80px;
    height: auto;
    padding: 0;
    margin: 0;
}

.link-logo {
    text-decoration: none;
    color: #C1A675;
}

.titulo {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.L {
    padding: 0;
    margin: 0;
    text-align: start;
}

/* =========================
   MENU E SUBMENU
============================= */
.opcoes_filtro {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1%;
    font-size: 85%;
    justify-content: center;
    align-content: center;
}

.menu li {
    position: relative;
    padding: 0.5rem;
    cursor: pointer;
    background-color: #2B1E14;
    color: #F5E6B8;
    overflow: visible;
}

header {
    position: relative;
    z-index: 1000;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #3A2A1A;
    z-index: 2000;
    transition: all 0.3s ease;
}
.dropdown {
    border-radius: 20px;
    display: flex;
}

.menu li.dropdown:last-child .submenu {
    right: 0;
    left: auto;
}

.submenu li {
    width: 100%;
}

.submenu li:hover {
    background-color: #4B3A1A;
}

.dropdown:hover .submenu {
    display: block;
    
}

/* =========================
   MAIN E CARROSSEL
============================= */
main {
    flex: 1; /* ocupa o espaço disponível */
    width: 100%;
    padding: 0;
    margin: 0;
}

/* CARROSSEL */
.carousel-container {
    position: relative;
    width: 100%;
    height: 450px;
    overflow: hidden;
    border-radius: 12px;
    margin: 30px auto;
}

.carousel-slides {
    width: 100%;
    height: 100%;
    position: relative;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
}

.slide.active {
    opacity: 1;
    z-index: 1;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, rgba(0,0,0,0.6), transparent);
}

.caption {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    color: #fff;
    z-index: 2;
}

.caption h2 {
    font-size: 42px;
    margin-bottom: 10px;
}

.caption p {
    font-size: 18px;
    margin-bottom: 20px;
}

.caption .btn {
    padding: 12px 24px;
    background: #e63946;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
}

/* Botões do carrossel */
.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    border: none;
    color: white;
    font-size: 22px;
    padding: 12px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 3;
}

.carousel-btn:hover {
    background: rgba(0,0,0,0.8);
}

.prev { left: 15px; }
.next { right: 15px; }

/* =========================
   CARROSSEL DE PRODUTOS
============================= */
.product-carousel {
    padding: 40px;
    background: none;
}

.section-title {
    font-size: 28px;
    margin-bottom: 20px;
}

.product-carousel-wrapper {
    position: relative;
}

.product-track {
    display: flex;
    gap: 20px;
    overflow: hidden;
    scroll-behavior: smooth;
    cursor: grab;
}

.product-track.active-drag {
    cursor: grabbing;
}

/* Card */
.product-card {
    min-width: 250px;
    background: black;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    text-align: center;
    user-select: none;
}

.product-card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.product-card h3 {
    font-size: 18px;
    margin: 10px 0;
}

.preco {
    font-size: 20px;
    font-weight: bold;
    color: #e63946;
}

.btn-prod {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 18px;
    background: #111;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}

.prod-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #111;
    color: white;
    border: none;
    padding: 12px;
    cursor: pointer;
    z-index: 2;
    border-radius: 50%;
}


.prev-prod { left: -15px; }
.next-prod { right: -15px; }

/* =========================
   RESPONSIVO
============================= */
@media (max-width: 768px) {
    .caption h2 { font-size: 28px; }
    .caption p { font-size: 16px; }
    .product-card { min-width: 180px; }
}

/* =========================
   FOOTER
============================= */
footer {
   
    color: #C1A675;
    text-align: center;
    padding: 10px 0;
}
.dropdown a{
    color: #C1A675;
}
/* OVERLAY */
#overlay-carrinho {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    z-index: 998;
}

/* CARRINHO */
.carrinho-button{
    color: #C1A675;
    border-radius: 20px;
    background-color: #2B1E14;
}
#carrinho-lateral {
    position: fixed;
    top: 0;
    right: -380px;
    width: 360px;
    height: 100vh;
    background: #0e0e0e;
    color: #C1A675;
    z-index: 999;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    box-shadow: -5px 0 20px rgba(0,0,0,0.5);
}

/* ATIVO */
#carrinho-lateral.ativo {
    right: 0;
}

#overlay-carrinho.ativo {
    opacity: 1;
    pointer-events: all;
}

/* HEADER */
.carrinho-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #2a2a2a;
}

.carrinho-header button {
    background: none;
    border: none;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
}

.barra-de-pesquisa {
    position: relative;
    width: 100%;
    max-width: 300px; /* 👈 IMPORTANTE */
    margin: 10px auto; /* centraliza */
}

/* INPUT */
.barra-de-pesquisa input {
    width: 100%;
    padding: 10px 40px 10px 15px;
    border-radius: 20px;
    border: none;
    outline: none;
}

/* LUPA */
.barra-de-pesquisa .btn-lupa {
    position: absolute;
    right: 12px; /* ajusta aqui se quiser */
    top: 50%;
    transform: translateY(-50%);
    
    background: none;
    border: none;
    color: #C1A675;
    cursor: pointer;
}
/* ITENS */
.carrinho-itens {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.item {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.item img {
    width: 70px;
    height: 70px;
    object-fit: contain;
}

.item .info span {
    color: #e63946;
}

/* FOOTER */
.carrinho-footer {
    padding: 20px;
    border-top: 1px solid #2a2a2a;
}

.btn-finalizar {
    display: block;
    margin-top: 15px;
    text-align: center;
    padding: 12px;
    background: #2B1E14;
    color: #F5E6B8;
    text-decoration: none;
    border-radius: 6px;
}


.beneficios {
    display: flex;
    justify-content: space-around;
    background: #111;
    padding: 15px;
    text-align: center;
}

.beneficio i {
    color: #C1A675;
    font-size: 20px;
}
