body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman';
    background-color: #141213;
    color: #CEA06E;
    width: 100%;
    height: 100%;
}
img{
  object-fit: cover;
}
a{
  text-decoration: none;
  color: #CEA06E;
}
li{
    list-style: none;
}
header{
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.pesquisar{
  border-radius: 20px;
  width: 100%;
  max-width: 800px;
}
.pesquisar_botoes{
 display: flex;
 justify-content: center;
 width: 100%;
}
.pesquisar_botoes button{
  background-color: #252628;
  color: #CEA06E;
  border-radius: 20px;
  cursor: pointer;
  width: fit-content;
}
.opcoes{
  display: flex;
  background-color: #252628;
  align-content: center;
  justify-content: center;
}
.opcoes li{
  padding: 1%;
}
.logo_inicial img{
  width: 80%;
}
.produtos{
    align-items: center;
    justify-items: center;
    width: 100%;
}

.produto-item img{
    
    width: 50%;
    height: 50%;
    
}

footer {
    background-color: #1c1c1b;
    color: #cbc3b5;
    text-align: center;
    padding: 20px;
}
.produto-item{
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    margin: 10px;
    border-radius: 5px;
    width: 200px;
    height: 250px;
     text-align: center;
     margin-top: 15px;

}
#next{
    transform: rotate(90deg);
}
#prev{
    transform: rotate(-90deg);
}
.carrossel-produtos {
  display: flex;
  margin: 50px 0px auto;
  overflow: hidden;
  align-items: center;
  justify-items: center;
  scrollbar-width: auto;
 justify-content: center; 
   width:  100% auto; 
}

.lista-produtos {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  padding: 10px 10px;
  scrollbar-width: auto;
  align-items: center;
  justify-items: center;
}

.lista-produtos::-webkit-scrollbar {
  height: 10px;
}
.lista-produtos::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.produto-item {
  flex: 0 0 220px;
  background: #252628;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  scroll-snap-align: start;
  text-align: center;
  padding: 10px;
  transition: transform 0.3s;

}

.produto-item:hover {
  transform: scale(1.05);
}

.produto-item img {
  width: 100%;
  border-radius: 10px;
}

.carrossel-produtos button {
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
  border-radius: 10px;
  height: 70px;
  transition: background 0.3s;
  z-index: 10;

  justify-items: center;
 
}

#prev { left: 0; transform: rotate(00deg); }
#next { right: 0; transform: rotate(00deg);  }

.carrossel-produtos button:hover {
  background: rgba(0,0,0,0.8);
  
}
.imagens img{
  width: max-content;
  height: max-content;
}



.galeria {
  display: flex;
  align-items: center;

  width: fit-content;
}

/* MINIATURAS */
.thumbnails {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.thumbnails img {
  object-fit: cover;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: transform 0.2s, border 0.2s;
  width: 4rem;
}

.thumbnails img:hover {
  transform: scale(1.05);
}

.thumbnails img.active {
  border: 2px solid #000;
}

/* IMAGEM PRINCIPAL */
.produto-container{
    width: 100%;
  max-width:1300px ;
  height: 100%;
  max-height: 1300px;
}
.produto-container button{
  margin: 0;
  padding: 0;
  
}
#imagem-principal{
  object-fit: cover;
  width: 90% ;
}
.main-image{
width: fit-content;
}
.main-image img {
 object-fit: cover;
 width: 100%;
}
.galeria button {
position: relative;
}

.main-image{
  position :relative;
   display: inline-block;
     width: 100%;
  max-width:1300px ;
}
.main-image img{
  display: block;
}
.main-image button{
  position: absolute;
  top: 45%;  
}

.seta-esquerda {  
  transform: rotate(00deg);  
  left: 0%;}
.seta-direita {  
  transform: rotate(180deg);
  left: 80%;}

/* BOTÕES */
.btn {

  background-color: rgba(0,0,0,0.5);
  color: white;
  border: none;
  font-size: 24px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(0,0,0,0.8);
}

.descricao img{
  padding: 0;
    width: 100%;
  max-width:1300px ;
  height: 20px;
}
.descricao button{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}
.comprar_carrinho{
  display: flex;
}
.produto-principal{
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.descricao{
  width: 100%;
  max-width:1300px ;
}
.descricao{
  margin-left: 5px;
  
}
.Tambem_indicado{
  text-align: center;
  font-size: 25px;

}
 .titulo_logo{
  display: flex;
 }
.titulo a{
   text-decoration: none;
   color: #F1E5AC;
}
.descricao_pruduto_principal{
  justify-items: center;
    width: 100%;
  max-width:1000px ;
}
.descricao_pruduto_principal_texto{
  
  border-radius: 1px;
  width: 100%;

}

.pagina_Produto{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-items: center;
  align-items: center;
}
.rodape{
  margin: 0;
  padding: 0;
  object-fit: cover;
  border-radius: 5px;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: center;

}

