.principal_perifl_inicial{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
}
.opcoes_perfil{
    margin: 0;
    padding: 0;
    background-color: bisque;
    width: 100%;
    max-width: 200px;
    font-size: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}