{% load static %}

    <!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NL Importados</title>
        <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
        
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
            crossorigin="anonymous"
            referrerpolicy="no-referrer" />
    </head>

    <body>
       <header>
         <h1 class="titulo"><img src="{% static '/imagens/logo.png' %}" alt="" class="logo"><p class="L">L IMPORTADOS</p></h1>
         <ul class="opcoes_filtro menu">
            <li class="dropdown">MARCAS
                  <ul class="submenu">
                        <li>Marca A</li>
                        <li>Marca B</li>
                        <li>Marca C</li>
                   </ul>
            </li>
            <li>FRAGANCIA</li>
            <li>ML</li>
            <li>AROMAS</li>
            <div>
                <i class="fa-solid fa-circle-user"></i>
                ENTRAR
            </div>
         </ul>
       </header>
       <main>
        {% block main %}
          
        {% endblock main %}
       </main>
       <footer>
   <p> © NICOLAS LANÇA </p>
       </footer>
    </body>
            
    </html>

