{% extends './index.html' %}
{% load static %}
{% block pesquisar_botoes %}
<div class="titulo_pedido">
<a href="{% url 'index' %}"><i class="fa-solid fa-xmark"></i>VOLTAR</a>
<h2>PEDIDO</h2>
</div>
{%endblock%}
{%block tags_navegacao%}
{%endblock%}
{% block content_principal %}

<link rel="stylesheet" href="{% static 'css/detalhes_pedido.css' %}">
<script src="{% static 'javascript/detalhes_pedido.js' %}" defer></script>
<div class="pagamento_princiapal">
<div class="items">
    <h2>Resumo do pedido</h2>
{% for item in itens %}
  
<div class="item" data-id="{{ item.id }}">
    <img src="{{item.imagem_principal.url}}" alt="">
    <div class="detalhes_itens">
        <p>{{ item.nome }}</p>
        <p>
            <input type="number" class="quantidade" min="1" value="{{ item.quantidade }}" data-preco="{{ item.preco }}">
        </p>
        <p>Subtotal: R$ <span class="subtotal">{{ item.subtotal }}</span></p>
    </div>
</div>
<hr>
{% endfor %}
<div class="forma_pagamento">
    <h2>Escolha a forma de pagamento:</h2>

    <div class="payment-option">
      <input type="radio" id="pix" name="payment" value="PIX">
      <label for="pix"><i class="fa-brands fa-pix"></i> PIX</label>
      <input type="radio" id="credito" name="payment" value="Crédito">
      <label for="credito">Crédito</label>
      <input type="radio" id="debito" name="payment" value="Débito">
      <label for="debito">Débito</label>
    </div>
  

  <p id="resultado"></p>

</div>
<div class="endereco">
    <h2>Escolha o endereço de entrega:</h2>
    {% if enderecos_entrega %}
          {% for endereco in enderecos_entrega %}
          <label for="endereco">
            <input type="radio" id="endereco_input" name="endereco_input" value="{{endereco.endereco}}"> {{endereco.endereco}}
        </label>
            
            
           {% endfor %}
    {% else %}
    <h3>Sem Endereços cadastrados</h3>
    {% endif %}

</div>


<h3>Total: R$ <span id="total-pagamento">{{ total }}</span></h3>
<button class="btn-pagar">Pagar agora</button>
</div>
</div>
{% endblock %}
