{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chekout</title>
</head>
<body>
    <link rel="stylesheet" href="{% static 'css/chekout.css' %}">

<div class="checkout-container">
    <h1 class="checkout-title">Checkout</h1>
  {% if carrinho %}
        <div class="checkout-list">
            {% for id, item in carrinho.items %}
                <div class="checkout-item">
                    <img src="{{ item.imagem }}" alt="{{ item.nome }}" class="checkout-img">
                    <div class="checkout-info">
                        <span class="checkout-nome">{{ item.nome }}</span>
                        <span class="checkout-qtd">Qtd: {{ item.quantidade }}</span>
                        <span class="checkout-preco">Preço: R$ {{ item.preco|floatformat:2 }}</span>
                        <span class="checkout-subtotal">
                            Subtotal: R$ {{ item.preco|floatformat:2|add:item.quantidade }}
                        </span>
                    </div>
                </div>
            {% endfor %}
                <strong>VALOR TOTAL :{{ total }}</strong>
        </div>
        <form method="POST">
    {% csrf_token %}

    <!-- ================= ENDEREÇOS ================= -->
    <div class="checkout-section">
        <h2 class="section-title">Escolha o Endereço</h2>

        {% if enderecos %}
            <div class="enderecos-list">
                {% for endereco in enderecos %}
                    <label class="endereco-card">
                        <input type="radio" name="endereco_id" value="{{ endereco.id }}" required>
                        <div>
                            <strong>{{ endereco.endereco }}</strong><br>
                <br>
                            CEP: {{ endereco.cep }}
                        </div>
                    </label>
                {% endfor %}
            </div>
        {% else %}
            <p>Você não possui endereços cadastrados.</p>
            <p>Cadastre os endereços aqui <a href="{% url 'endereco' %}"></a></p>
        {% endif %}
    </div>


    <!-- ================= PAGAMENTO ================= -->
    <div class="checkout-section">
        <h2 class="section-title">Método de Pagamento</h2>

        <div class="pagamento-list">
            <label class="pagamento-option">
                <input type="radio" name="pagamento" value="pix" required>
                PIX
            </label>

            <label class="pagamento-option">
                <input type="radio" name="pagamento" value="cartao">
                Cartão de Crédito
            </label>

            <label class="pagamento-option">
                <input type="radio" name="pagamento" value="boleto">
                Boleto
            </label>
        </div>
    </div>

    <button type="submit" class="btn-finalizar">
        Finalizar Compra
    </button>
</form>
    {% else %}
        <p class="carrinho-vazio">Seu carrinho está vazio.</p>
    {% endif %}
</div>
    
</body>
</html>
